html {
    height: 100%;
}

body {
    background: url('/media/soda.JPG') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}
.marg{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-left: -63%;
    margin-top: 40%;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    margin-left: 0%;
}

.btn-black {
    background: black;
    color: white;
}
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-black-low {
    border-bottom: 1px solid black !important;
} 
.bg-black {
    background: #000 !important;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}
.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.06); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

#detail-marg{
    margin-top: 100px;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (max-width: 992px){
.shop-now-button {
    background: black;
    color: white;
    min-width: 112px;
    margin-top: 385px;
    border-radius: 10px;
}
}

@media only screen and (width: 768px) {
.marg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-left: -2%;
    margin-top: 40%;

    
}
.shop-now-button {
    background: black;
    color: white;
    min-width: 112px;
    margin-top: 213px;
    border-radius: 10px;
    margin-left: 10%;
}
#home-text{
    display: none !important;
}
}
@media only screen and (width: 1024px) {
.marg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-left: -30%;
    margin-top: 54px;
}
.shop-now-button {
    background: black;
    color: white;
    min-width: 112px;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 19%;
}
}


@media only screen and (width: 1280px) {
 .shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    margin-left: -9%;
}
.marg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-left: -63%;
    margin-top: 0%;
}
}
