{% extends "base.html" %} 
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-black"> Welcome to Al-Kuhul Blog </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6"> {{ post.author }} </p>
                    <p class="card-text">{{ post.created_on }}</p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-black rounded-0 text-uppercase mt-5">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
            
        </div>
{%endblock%}