{% extends "base.html" %} 
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<hr>
			<h2 class="logo-font mb-4">Blog</h2>
			<h5 class="text-muted">Post: {{ post.title }}</h5>
			<hr>
		</div>
	</div>
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
		  {% if request.user.is_superuser %}
		  <a href="{% url 'edit_post' post.id %}" class="btn btn-black rounded-0 text-uppercase mt-5">Edit this Post</a>
		  <a href="{% url 'delete_post' post.id %}" class="btn btn-outline-black rounded-0 text-uppercase mt-5">Delete this Post</a>
		  {% endif %}
			<div class="row">
				<div class="col-md-8 card mb-4  mt-3 left  top">
					<div class="card-body">
			
						<h2 class="subtitle">Comments</h2>
		
		{% for comment in post.comments.all|slice:":4" %}
			<article class="media">
				<div class="media-content">
					<div class="content">
						<p>
							<strong>{{ comment.name }}</strong> <small>{{ comment.date_added|timesince }} ago</small>
							<br>
							{{ comment.body }}
						</p>
					</div>
				</div>
			</article>
		{% empty %}
			<div class="notification">
				No comments yet...
			</div>
		{% endfor %}
					</div>
				</div>
			</div>
		</div>
        </div>
        </div>
<div class="row">
	<div class="col-12 col-md-6 card mb-4  mt-3 left  top">
        <div class="card-body">
    <h2 class="subtitle">Add comment</h2>

	<form method="post" action="." class="form mb-2">
		{% csrf_token %}
		{{ form.as_p }}
			<div class="text-center">
				<button class="btn btn btn-black rounded-0" type="submit">Add Comment</button>
			</div>
	</form>
  </div>
  </div>
</div>
</div>

    <hr>
<hr>

{% endblock %}